@import 'tailwindcss';
@import 'uniwind';

@theme {
  --color-app-bg: #050505;
  --color-app-surface: #111111;
  --color-app-surface-highlight: #1a1a1a;

  --color-app-primary: #8fa893;
  --color-app-primary-dim: #2a332c;
  --color-app-primary-dark: #3e4f43;

  --color-app-secondary: #d4955f;
  --color-app-secondary-dim: #332619;

  --color-app-text: #ffffff;
  --color-app-text-secondary: #999999;
  --color-app-text-muted: #555555;

  --color-app-border: #222222;
}
